.music-text
{
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.music-text:hover 
{
    overflow: visible; 
    white-space: normal;
}
.name-text 
{
    font-size: medium;
}
.artists-text
{
    font-size: small;
    color: rgb(91, 91, 91);
}